<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather forecast</title>
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="row">
            <form action="" id="inputForm">
                <div class="col m12">
                    <div class="input-field">
                        <input placeholder="Enter the city name" id="cityName" type="text" class="validate">
                        <label for="cityName">City Name</label>
                    </div>
                    <div class="error"></div>
                </div>
                <div class="col s12">
                    <button class="btn waves-effect waves-light col s12" type="submit" name="action" id="submit">Get
                        Weather Info
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s8">
                <h2 class="hide">Weather Info</h2>
                <table style="display: none;" id="weatherInfo">
                    <tr>
                        <th>City</th>
                        <td></td>
                    </tr>



                </table>
            </div>
            <div class="col s4">
                <h4>Recent Search</h4>
                <ul class="collection" id="recentSearch">

                </ul>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4>Confirmation required</h4>
            <p>Are you sure you want to delete or remove the city</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class=" waves-effect waves-green btn-flat btn-ok">Ok</a>
        </div>
    </div>

    <script type="text/html" id="recentSearchLiTemplate">
<% _.forEach(selected,function(item) { %>

    <li class="collection-item">
        <div class="row">
        <div class="col s12">
        <%- _.toUpper(item.cityName) %>
        <a class="btn-floating btn-small waves-effect waves-light red right btn-remove"><i class="material-icons">delete_outline</i></a>
        </div>
        <div class="col s12">
        <small class="right"><%- moment(item.timestamp, 'DD/MM/YYYY HH:mm:SS').fromNow() %></small>
        </div>
        </div>
        
</li>


<% }) %>
        
    
    </script>

    <script src="node_modules/moment/moment.js"></script>

    <script src="node_modules/lodash/lodash.min.js"></script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>

    <script src="js/constant.js"></script>

    <script src="js/app.js"></script>


</body>

</html>